@tailwind base;
@tailwind components;
@tailwind utilities;

ul, ol {
  line-height: 1.2; /* Adjust this value as needed */
}


body {
  background-color: #000000;
  color: #c9d1d9;
}

h1, h2, h3, h4, h5, h6 {
  color: #c9d1d9;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.prose {
  color: #c9d1d9;
}

.prose a {
  color: inherit;
  text-decoration: underline;
}

.prose a:hover {
  text-decoration: underline;
}

.prose code {
  color: #c9d1d9;
  background-color: #161b22;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  border-radius: 6px;
}

.prose pre {
  background-color: #161b22;
  padding: 1em;
  border-radius: 6px;
  overflow-x: auto;
}

.prose pre code {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
}
