@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@300;400&family=Raleway:wght@300;400;500;600&family=Russo+One&display=swap');
.footer-style {
    /* display: flex; */
    text-align: center;
    /* flex-direction: column; */
    margin:auto;
    z-index: 5;
    color: white;
    font-family: Monoton;
    max-width: 650px;
    padding-top: 25px;
}
.heart{
    color:#e00707;
    /* font-size: 200%; */
}