@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@300;400&family=Raleway:wght@300;400;500;600&family=Russo+One&display=swap');
.container {
    display: flex;
    flex-direction: column;
    z-index: 5;
    color:white;
    margin:auto;
    margin-top:15px;
    max-width: 650px;
    /* justify-content: space-around; */
}
.individual-post{
    display: flex;
    flex-direction: row;
    margin-bottom:20px;
}
.inner-individual-post{
    display: row;
    margin-left: 20px;
    color: white;
    font-family: Raleway;
    font-weight: 300;
    text-decoration: none;
}
.container img{
    width:50%;
    border-radius: 10px;
}
.inner-individual-post a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

@media screen and (max-width: 480px) {    
    .individual-post{
        display: flex;
        flex-direction: column;
        margin-bottom:25px;
    }
    .individual-post img{
        margin: 0 15px 0 15px;
        width:90%;
    }
}
